*.bak
*-bak
*-save
_autosave-*
*.lck
fp-info-cache
*-backups/
*.kicad_prl

# Zencoder
.zencoder/
.zencoder-*
zencoder/
zencoder-*
*.zencoder
.zencoder-cache/
zencoder-cache/
.zencoder_config
.zencoder-snippets/
